# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDE
.idea/
*.iml
.vscode/

# Env / secrets
.env

# Java / Maven
backend/target/
backend/build/
backend/*.log
backend/*.tmp
backend/.mvn/
backend/.classpath
backend/.project
backend/.settings/


# Node / Angular
frontend/node_modules
frontend/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db


# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/


