POSTGRES_DB=localys_dev
POSTGRES_USER=localys_dev
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://your-db-host:5432/localys_dev?sslmode=require
SPRING_DATASOURCE_USERNAME=localys_dev
SPRING_DATASOURCE_PASSWORD=change-me

KC_DB_URL=jdbc:postgresql://your-db-host:5432/localys_keycloak_dev?sslmode=require
KC_DB_USERNAME=localys_dev
KC_DB_PASSWORD=change-me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

OIDC_ISSUER_URI=http://keycloak:8080/realms/localys-realm
OIDC_CLIENT_ID=localys-frontend
KEYCLOAK_ADMIN_CLIENT_ID=localys-backend
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me

APP_DEFAULT_LOCALE=tr
APP_MEDIA_UPLOAD_DIR=/app/uploads
APP_MAIL_ENABLED=false
MAIL_FROM=no-reply@localys.shop

STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=https://dev.localys.shop/checkout?success=true
STRIPE_CANCEL_URL=https://dev.localys.shop/checkout?canceled=true

HTTP_PORT=8080
HTTPS_PORT=8443
