version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-mem
    volumes:
       - keycloak_data:/opt/keycloak/data
    ports:
      - "8081:8080"

  backend:
    image: maven:3.9.9-eclipse-temurin-21
    working_dir: /workspace
    volumes:
      - ./backend:/workspace
      - m2-cache:/root/.m2
    command: mvn -q spring-boot:run -Dspring-boot.run.profiles=docker
    depends_on:
      - db
      - keycloak
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: "jdbc:postgresql://db:5432/appdb"
      SPRING_DATASOURCE_USERNAME: "appuser"
      SPRING_DATASOURCE_PASSWORD: "apppass"
      OIDC_ISSUER_URI: "http://keycloak:8080/realms/localys-realm"
    ports:
      - "8080:8080"

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    command: sh -c "npm ci && npm run start"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    ports:
      - "4200:4200"

volumes:
  dbdata:
  m2-cache:
  node_modules:
