<div class="sidebar">
  <h3>{{ 'FILTERS.CATEGORIES' | translate }}</h3>
  <ul class="category-list">
    <li>
      <a href="#" (click)="selectAll(); $event.preventDefault()" class="category-link">
        {{ 'FILTERS.ALL_PRODUCTS' | translate }}
      </a>
    </li>
    <ng-container *ngTemplateOutlet="categoryTree; context: { nodes: categories, depth: 0 }"></ng-container>
  </ul>

  <ng-template #categoryTree let-nodes="nodes" let-depth="depth">
    @for (category of nodes; track category.id) {
      <li>
        <div
          class="category-row"
          [class.category-row--expandable]="hasChildren(category)"
          [style.padding-left.px]="depth * 14"
          (click)="selectCategoryRow(category)"
          [attr.aria-expanded]="hasChildren(category) ? isExpanded(category.id) : null">
          <a href="#" (click)="$event.preventDefault()" class="category-link">
            {{ category.name | categoryDisplay }}
          </a>
        </div>
        @if (hasChildren(category) && isExpanded(category.id)) {
          <ul class="category-list category-list--nested">
            <ng-container *ngTemplateOutlet="categoryTree; context: { nodes: category.children, depth: depth + 1 }"></ng-container>
          </ul>
        }
      </li>
    }
  </ng-template>

    <div class="filter-section">
        <h3>{{ 'FILTERS.PRICE_RANGE' | translate }}</h3>
        <div class="price-filter">
            <div class="price-inputs">
                <label>
                    <span>{{ 'FILTERS.PRICE_MIN' | translate }}</span>
                    <input
                            type="number"
                            min="0"
                            [max]="selectedMaxPrice"
                            [ngModel]="selectedMinPrice"
                            (ngModelChange)="onMinPriceChange($event)">
                </label>
                <label>
                    <span>{{ 'FILTERS.PRICE_MAX' | translate }}</span>
                    <input
                            type="number"
                            [min]="selectedMinPrice"
                            [max]="maxPrice"
                            [ngModel]="selectedMaxPrice"
                            (ngModelChange)="onMaxPriceChange($event)">
                </label>
            </div>
            <div class="range-control">
                <div class="range-track"></div>
                <div
                        class="range-track range-track--selected"
                        [style.left.%]="minPercent()"
                        [style.right.%]="100 - maxPercent()"></div>
                <input
                        type="range"
                        min="0"
                        [max]="maxPrice"
                        [ngModel]="selectedMinPrice"
                        (ngModelChange)="onMinPriceChange($event)"
                        class="price-slider">
                <input
                        type="range"
                        min="0"
                        [max]="maxPrice"
                        [ngModel]="selectedMaxPrice"
                        (ngModelChange)="onMaxPriceChange($event)"
                        class="price-slider">
            </div>

            <div class="price-values">
                <span>${{ selectedMinPrice }}</span>
                <span>${{ selectedMaxPrice }}</span>
            </div>
        </div>
    </div>
</div>
