spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/appdb
    username: appuser
    password: apppass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  application:
    name: localys-marketplace

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/localys-realm

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB

app:
  media:
    upload-dir: uploads
  payment:
    stripe:
      secret-key: ${STRIPE_SECRET_KEY:}
      success-url: ${STRIPE_SUCCESS_URL:http://localhost:4200/checkout?success=true}
      cancel-url: ${STRIPE_CANCEL_URL:http://localhost:4200/checkout?canceled=true}

server:
  port: 8085
logging:
  level:
    org.springframework: DEBUG
